{{ define "header" }}
<header>
  <nav class="navbar header_nav">
    <div class="logo_div">
      <img class="logo" src="../static/Icon.png">
    </div>
    <div class="shop_name days_text">SHOP NAME</div>
    <button class="header_categ dm_text">Bakery</button>
    <button class="header_categ dm_text">Drinks</button>
    <button class="header_categ dm_text">Meals</button>
    <a class="profile" href="#/index"><img class="avatar rounded-circle" src="../static/avatar.png"></a>
  </nav>
</header>
{{ end }}