<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Дока</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main_page.css">
  </head>
  <body>
    <header>
      <nav class="navbar header_footer_main">
        <div class="logo_div border-gradient-green-all border-gradient">
          <img class="logo" src="../static/Logo.png">
        </div>
        <div class="spartan_text header_texts header_main_title text border-bottom border-gradient-green-bottom">TEFSI</div>
        <div class="spartan_text header_texts header_extra_title text">Templates for your websites</div>
      </nav>
		</header>
    <main>
      <div class="spartan_text main_text_huge">
        <p>Make your own site in few seconds</p>
      </div>
			<div class="magic_figure_div">
				<div class='mg'>
				</div>
        <div class="template_div">
          <button class="template_button">
          </button>
        </div>
			</div>
    </main>
    <footer>
      <div class="header_footer_main footer_div">
        <div class="spartan_text header_texts text socials">Socials</div>
        <div class="spartan_text header_texts text year border-top border-green-top"><span>© 2024</span></div>
      </div>
    </footer>
  </body>
	<script src="../js/main.js"></script>
</html>
