<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Дока</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/home_page_shop.css">
  </head>
  <body>
    <header>
      <nav class="navbar header_nav">
        <div class="logo_div">
          <img class="logo" src="../static/Icon.png">
        </div>
        <div class="shop_name days_text">SHOP NAME</div>
        <button class="header_categ dm_text">Bakery</button>
        <button class="header_categ dm_text">Drinks</button>
        <button class="header_categ dm_text">Meals</button>
        <a class="profile" href="#/index"><img class="avatar rounded-circle" src="../static/avatar.png"></a>
      </nav>
		</header>
    <main>
      <div class="container main_div">
        <div class="main_title spartan_text">
            MEALS
        </div>
        <div class="container px-4 grid_div">
          <div class="row gx-3 grid_system">
            <div class="col">
              <div class="p-3 grid_item spartan_text">
                <div class="images_div">
                  <img class="image" src="../static/free.png">
                </div>
                <div class="add_cart_div">
                  <div class="item_text">
                    Add to cart
                  </div>
                  <div class="cart_image_div">
                    <img class="add_cart_image" src="../static/cart.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 grid_item spartan_text">
                <div class="images_div">
                  <img class="image" src="../static/chips.png">
                </div>
                <div class="add_cart_div">
                  <div class="item_text">
                    Add to cart
                  </div>
                  <div class="cart_image_div">
                    <img class="add_cart_image" src="../static/cart.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="p-3 grid_item spartan_text">
                <div class="images_div">
                  <img class="image" src="../static/nug.png">
                </div>
                <div class="add_cart_div">
                  <div class="item_text">
                    Add to cart
                  </div>
                  <div class="cart_image_div">
                    <img class="add_cart_image" src="../static/cart.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="socials spartan_text">
        <span>Socials</span>
      </div>
      <div class="year spartan_text">
        © 2024
      </div>
    </footer>
  </body>
	<script src="../js/main.js"></script>
</html>